[Unit]
Description=Are You There ?
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/areyouthere

[Install]
WantedBy=multi-user.target
